name = 'cartesi-dave-app-factory'
version = '2.0.0-alpha.1'
description = 'Cartesi Dave App Factory'

[pull.prtContracts]
source = "cartesi-prt-multilevel:2.0.0-alpha.1@main"

[pull.cartesiRollups]
source = "cartesi-rollups:2.1.0@main"

[deploy.DaveAppFactory]
artifact = "DaveAppFactory"
args = [
  "<%= cartesiRollups.InputBox.address %>",
  "<%= cartesiRollups.ApplicationFactory.address %>",
  "<%= prtContracts.MultiLevelTournamentFactory.address %>",
]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"
