[profile.default]
src = "src"
out = "out"
libs = ["dependencies"]
optimizer = true
via_ir = true

allow_paths = ["../../prt/contracts", "../../machine/step"]
remappings = [
    'prt-contracts/=../../prt/contracts/src/',
    'step/=../../machine/step/',
]

solc_version = "0.8.30"
evm_version = "prague"

[fmt]
sort_imports = true

[lint]
exclude_lints = ["incorrect-shift"]

[dependencies]
"@openzeppelin-contracts" = "5.2.0"
forge-std = "1.9.6"
cartesi-rollups-contracts = "2.1.0-alpha.3"
