[profile.default]
src = "src"
out = "out"
libs = ["dependencies", "../../prt/contracts/dependencies"]
auto_detect_remappings = false
optimizer = true
via_ir = true

allow_paths = ["../../prt/contracts", "../../machine/step"]
remappings = [
    "@openzeppelin-contracts-5.2.0/=dependencies/cartesi-rollups-contracts-2.2.0/dependencies/@openzeppelin-contracts-5.2.0/",
    "@openzeppelin-contracts-5.5.0/=dependencies/@openzeppelin-contracts-5.5.0/",
    "cartesi-rollups-contracts-2.2.0/=dependencies/cartesi-rollups-contracts-2.2.0/",
    "forge-std-1.9.6/=dependencies/forge-std-1.9.6/",
    "prt-contracts/=../../prt/contracts/src/",
    "step/=../../machine/step/",
]

solc_version = "0.8.30"
evm_version = "prague"
fs_permissions = [
    { access = "read-write", path = "deployments" },
    { access = "read", path = "dependencies/cartesi-rollups-contracts-2.2.0/deployments" },
    { access = "read", path = "../../prt/contracts/deployments" },
]

[soldeer]
remappings_location = "config"
recursive_deps = true

[fmt]
sort_imports = true

[lint]
exclude_lints = ["incorrect-shift"]

[dependencies]
"@openzeppelin-contracts" = "5.5.0"
forge-std = "1.9.6"
cartesi-rollups-contracts = "2.2.0"
