**/.git
**/.github
**/.venv
**/.vscode
**/.DS_Store

**/target/

**/_state/
**/snapshots/
**/compute_data/
**/rollups_data/

**/out/
**/cache/

test/programs/linux.bin
test/programs/rootfs.ext2
test/programs/**/machine-image/
test/programs/**/addresses
test/programs/**/anvil_state.json
test/programs/**/_anvil.log

cartesi-rollups/contracts/bindings-rs/src/contract/
prt/contracts/bindings-rs/src/contract/

prt/tests/compute/outputs/
prt/tests/compute/pixels/

machine/emulator/**/*.o
machine/emulator/**/*.swp
machine/emulator/**/*.d
machine/emulator/**/*.pb.cc
machine/emulator/**/*.pb.h
machine/emulator/**/*.gcno
machine/emulator/**/*.so
machine/emulator/**/*.dtb
machine/emulator/**/*.bin
machine/emulator/**/*.md
machine/emulator/**/*.deb

machine/emulator/src/*.pb.h
machine/emulator/src/*.pb.cc
machine/emulator/src/*.ext2
machine/emulator/src/*.bin
machine/emulator/src/*.gcno
machine/emulator/src/*.gcov
machine/emulator/src/*.gcda
machine/emulator/src/*.profraw
machine/emulator/src/compile_flags.txt
machine/emulator/src/coverage*
machine/emulator/src/jsonrpc-discover.cpp
machine/emulator/src/machine-c-version.h

machine/emulator/build
machine/emulator/third-party/downloads
machine/emulator/src/cartesi-machine-client
machine/emulator/src/cartesi-machine-server
machine/emulator/src/cartesi-machine-hash
machine/emulator/doc/

machine/emulator/**/*.clang-tidy
machine/emulator/**/*.a
machine/emulator/**/*.lib
machine/emulator/**/*.wasm
machine/emulator/**/*.tar.gz
machine/emulator/**/*.raw
machine/emulator/**/*.so
machine/emulator/**/*.dll
machine/emulator/**/*.exe
machine/emulator/**/*.dylib
machine/emulator/**/*.dtb
machine/emulator/**/*.tmp
machine/emulator/**/*.ld
machine/emulator/**/*.elf
machine/emulator/**/*.bin

machine/emulator/uarch/uarch-pristine-hash.c
machine/emulator/uarch/uarch-pristine-ram.c
machine/emulator/uarch/compute-uarch-pristine-hash
