[submodule "machine-emulator-sdk"]
	path = machine-emulator-sdk
	url = https://github.com/cartesi/machine-emulator-sdk
[submodule "prt/contracts/lib/forge-std"]
	path = prt/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
