.bin
.env
.vscode
.DS_Store
**/.idea/
target/
snapshots/
common-rs/Cargo.lock
prt/lua_poc/outputs/
prt/lua_poc/pixels/
node_modules
prt/contract-bindings/src/contract
prt/contract-bindings/Cargo.lock
prt/machine-emulator-sdk
