.bin
.env
.vscode
.DS_Store
**/.idea/
target/
snapshots/
common-rs/Cargo.lock
prt/client-rs/Cargo.lock
prt/tests/compute/outputs/
prt/tests/compute/pixels/
node_modules
**/contract-bindings/src/contract
**/contract-bindings/Cargo.lock
