name = 'cartesi-prt-multilevel'
version = '2.0.0-alpha.1'
description = 'Cartesi PRT contracts'

[var.MainnetTournamentConstants]
mainnetMatchEffort = "<%= 60 * 5 * 92 %>"
mainnetMaxAllowance = "<%= 60 * 60 * 24 * 7 + 60 * 60 %>"

[var.TestnetTournamentConstants]
testnetMatchEffort = "<%= 60 * 5 * 92 %>"
testnetMaxAllowance = "<%= 60 * 60 * 8 + 60 * 60 %>"

[var.DevnetTournamentConstants]
devnetMatchEffort = "<%= 60 * 5 * 92 %>"
devnetMaxAllowance = "<%= 60 * 60 %>"

[var.Chain]
chainType = "<%= ({1: 'main', 10: 'main', 8453: 'main', 13370: 'dev', 31337: 'dev', 42161: 'main', 84532: 'test', 421614: 'test', 11155111: 'test', 11155420: 'test'})[chainId] %>"
chainAvgBlockTime = "<%= ({1: 12, 10: 2, 8453: 2, 13370: 12, 31337: 12, 42161: 2.5, 84532: 2, 421614: 2.5, 11155111: 12, 11155420: 2})[chainId] %>"

[var.TournamentParameters]
matchEffort = "<%= BigInt({main: settings.mainnetMatchEffort, test: settings.testnetMatchEffort, dev: settings.devnetMatchEffort}[settings.chainType] / settings.chainAvgBlockTime) %>"
maxAllowance = "<%= BigInt({main: settings.mainnetMaxAllowance, test: settings.testnetMaxAllowance, dev: settings.devnetMaxAllowance}[settings.chainType] / settings.chainAvgBlockTime) %>"

[deploy.RiscVStateTransition]
artifact = "RiscVStateTransition"
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.CmioStateTransition]
artifact = "CmioStateTransition"
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.CartesiStateTransition]
artifact = "CartesiStateTransition"
args = [
    "<%= contracts.RiscVStateTransition.address %>",
    "<%= contracts.CmioStateTransition.address %>",
]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.TopTournament]
artifact = "TopTournament"
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.TopTournamentFactory]
artifact = "TopTournamentFactory"
args = ["<%= contracts.TopTournament.address %>"]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.MiddleTournament]
artifact = "MiddleTournament"
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.MiddleTournamentFactory]
artifact = "MiddleTournamentFactory"
args = ["<%= contracts.MiddleTournament.address %>"]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.BottomTournament]
artifact = "BottomTournament"
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.BottomTournamentFactory]
artifact = "BottomTournamentFactory"
args = ["<%= contracts.BottomTournament.address %>"]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.CanonicalTournamentParametersProvider]
artifact = "CanonicalTournamentParametersProvider"
args = [
    "<%= settings.matchEffort %>",
    "<%= settings.maxAllowance %>",
]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"

[deploy.MultiLevelTournamentFactory]
artifact = "MultiLevelTournamentFactory"
args = [
    "<%= contracts.TopTournamentFactory.address %>",
    "<%= contracts.MiddleTournamentFactory.address %>",
    "<%= contracts.BottomTournamentFactory.address %>",
    "<%= contracts.CanonicalTournamentParametersProvider.address %>",
    "<%= contracts.CartesiStateTransition.address %>",
]
create2 = true
salt = "<%= zeroHash %>"
ifExists = "continue"
