[package]
name = "cartesi-machine-sys"
version = { workspace = true }
edition = { workspace = true }

authors = { workspace = true }
description = { workspace = true }
homepage = { workspace = true }
license-file = { workspace = true }
readme = { workspace = true }
repository = { workspace = true }


[features]
remote_machine = []

# Downloads from emulator's GitHub release
download_uarch = ["reqwest", "bytes"]

# requires docker daemon to be running
build_uarch = []

# requires setting env vars UARCH_PRISTINE_HASH_PATH and UARCH_PRISTINE_RAM_PATH
copy_uarch = []

# requires setting env vars LIBCARTESI_PATH and INCLUDECARTESI_PATH
external_cartesi = []


[dependencies]
link-cplusplus = "1.0"


[build-dependencies]
bindgen = "0.71"
cfg-if = "1.0"

hex-literal = "1.0"
reqwest = { version = "0.12", default-features = false, features = ["blocking", "rustls-tls"], optional = true }
bytes = { version = "1.0", optional = true }
sha1 = "0.10.6"
