.container {
    overflow-x: auto;
    white-space: nowrap;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 13px,
        black calc(100% - 21px),
        transparent
    );
}
