name: Build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU for riscv support
        uses: docker/setup-qemu-action@v2

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt
          target: x86_64-unknown-linux-gnu
          toolchain: 1.85

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y --no-install-recommends \
            build-essential git wget \
            libslirp-dev \
            libclang-dev \
            liblua5.4-dev lua5.4 \
            xxd jq sqlite3 libc6 clang

          export XGENEXT2_VERSION=1.5.6
          export ARCH=amd64
          wget -O xgenext2fs.deb https://github.com/cartesi/genext2fs/releases/download/v${XGENEXT2_VERSION}/xgenext2fs_${ARCH}.deb
          sudo dpkg -i ./xgenext2fs.deb
          rm ./xgenext2fs.deb
          xgenext2fs --version

      - name: Install Cartesi Machine
        working-directory: ./machine/emulator
        run: |
          make bundle-boost
          make
          sudo make install

      - name: Setup env
        run: |
          just setup-local

      - name: Build, format check and test prt contracts
        working-directory: ./prt/contracts
        run: |
          just check-fmt
          just build-smart-contracts
          just test

      - name: Build, format check and test Dave consensus contracts
        working-directory: ./cartesi-rollups/contracts
        run: |
          just check-fmt
          just build-smart-contracts
          just test

      - name: Rust fmt and check
        run: |
          just check-fmt-rust-workspace
          just check-rust-workspace

      - name: Rust build
        run: |
          just build-rust-workspace

      - name: Rust test workspace
        run: |
          just test-rust-workspace

      - name: Test prt-compute
        working-directory: ./prt/tests/compute
        run: |
          just -f ./programs/justfile build-simple
          just test-simple

      - name: Test prt-rollups
        if: startsWith(github.ref, 'refs/tags/v')
        working-directory: ./prt/tests/rollups
        run: |
          just test-echo

      - name: Build dave-rollups
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          cargo build -p dave-rollups --release --locked --target x86_64-unknown-linux-gnu

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          executable-name: dave-rollups
          target: x86_64-unknown-linux-gnu
          changes-file: CHANGELOG.md
