name: Build
on:
  push:
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: v1.0.0

      - name: Install just
        uses: extractions/setup-just@v2

      - name: Build, format check and test
        working-directory: ./prt/contracts
        run: |
          just check-fmt
          just build-smart-contracts
          just test

      - name: Deps
        run: |
          export CARTESI_MACHINE_VERSION=0.18.1
          sudo apt-get install -y libboost-all-dev lua5.4 libslirp0
          wget https://github.com/cartesi/machine-emulator/releases/download/v0.18.1/cartesi-machine-v${CARTESI_MACHINE_VERSION}_amd64.deb
          sudo dpkg -i ./cartesi-machine-v${CARTESI_MACHINE_VERSION}_amd64.deb
          rm ./cartesi-machine-v${CARTESI_MACHINE_VERSION}_amd64.deb

      - name: Rust fmt and check
        run: |
          just setup
          just check-fmt-rust-workspace
          just check-rust-workspace

      - name: Rust build
        run: |
          just build-rust-workspace

      - name: Rust test workspace
        run: |
          just test-rust-workspace

  release:
    if: startsWith(github.ref, 'refs/tags/v')
    strategy:
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-24.04
            target: x86_64-unknown-linux-musl

          - os_name: macOS-x86_64
            os: macOS-latest
            target: x86_64-apple-darwin
    runs-on: ${{ matrix.platform.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build executable
        uses: houseabsolute/actions-rust-cross@v0
        with:
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true

      - name: Publish artifacts and release
        uses: houseabsolute/actions-rust-release@v0
        with:
          executable-name: ubi
          target: ${{ matrix.platform.target }}
